<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test runs" parallel="tests" thread-count="3">

	<test name="SignInTest">
		<classes>
			<class name="com.bb.qa.BB_RC.SignInTest"></class>
		</classes>
	</test>
	<test name="SignInTest1">
		<classes>
			<class name="com.bb.qa.BB_RC.SignInTest1"></class>
		</classes>
	</test>

	<test name="SignInTest2">
		<classes>
			<class name="com.bb.qa.BB_RC.SignInTest2"></class>
		</classes>
	</test>

	<test name="SignInTest3">
		<classes>
			<class name="com.bb.qa.BB_RC.SignInTest3"></class>
		</classes>
	</test>

</suite>